<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="subheader">
    <div class="container">
      <div class="col-lg-4">
        <select ng-init="selectedProfession=professions[0]"
                ng-model="selectedProfession"
                data-ng-options="profession as profession.name for profession in professions"
                ng-change="changedProfession()">
        </select>
      </div>
      <div class="col-lg-8">
        <label>Templates para {{ selectedProfession.name }}</label>
      </div>
    </div>
  </div>
<div class="container">
  <div class="col-lg-4">
    <h2>Areas</h2>
    <accordion close-others="oneAtATime">
      <accordion-group heading="{{area.name}}" ng-repeat="area in areas">
        <categories-dir allowEdit="false"></categories-dir>
      </accordion-group>
    </accordion>
  </div>
  <div class="col-lg-8">

    <template-dir category="selectedCategory"></template-dir>
  </div>

</div>
