<div class="page {{ pageClass }}">
  <!-- form.html -->

  <div class="form text-center">

      <div ng-repeat="q in questionary.questions" class="container">


          <div id='ID_{{ $index }}' class="question">
              <p>Pregunta {{ $index + 1 }} / {{ total }}</p>
              <h1>{{q.name}}</h1>


              <div class="stars">

                  <form name="ratingForm{{ $index }}">
                      <input class="star star-5" id="star-{{ $index }}-5" type="radio" name="star-{{ $index }}" value="1" ng-click="rated( $index , 5);" />
                      <label class="star star-5" for="star-{{ $index }}-5"></label>

                      <input class="star star-4" id="star-{{$index }}-4" type="radio" name="star-{{ $index }}" value="2" ng-click="rated( $index , 4);" />
                      <label class="star star-4" for="star-{{$index }}-4"></label>

                      <input class="star star-3" id="star-{{ $index }}-3" type="radio" name="star-{{ $index }}" value="3" ng-click="rated( $index , 3);" />
                      <label class="star star-3" for="star-{{ $index }}-3"></label>

                      <input class="star star-2" id="star-{{ $index }}-2" type="radio" name="star-{{ $index }}" value="4" ng-click="rated( $index , 2);" />
                      <label class="star star-2" for="star-{{ $index }}-2"></label>

                      <input class="star star-1" id="star-{{ $index }}-1" type="radio" name="star-{{ $index }}" value="5" ng-click="rated( $index , 1);" />
                      <label class="star star-1" for="star-{{ $index }}-1"></label>

                  </form>

              </div>

          </div>
      </div>
      <div id="ID_send">
          <div class="container">
          <p>SUGERENCIAS</p>
          <h1>Si tienes algún comentario o sugerencia que hacerle a {{ questionary.userName || 'Anónimo'}} puedes hacerlo aquí:</h1>
              <div class="col-lg-12">
              <textarea ng-model="comment" ng-trim="false" maxlength="250" class="mar-top20 mar-bot20"></textarea>
                  <div class="align-right">
                     <span>{{250 - comment.length}}</span>
                  </div>
              </div>
              <div>
                <label ng-repeat="ngo in ngos">
                  <input type="radio" name="selectedNgo" ng-model="$parent.selected" ng-value="ngo._id" /> {{ ngo.name }}
                </label>
                <label>
                  <input type="radio" name="selectedNgo" ng-model="selected" ng-value="-1"  /> Cualquiera
                </label>
              <a class="btn mar-top10" ng-click="sendRates()" >ENVIAR</a>

              </div>
          </div>
      </div>
      <div class="banner" style="display:none">
          <img src="/assets/images/ADSENSE.png">
      </div>
  </div>
 </div>
