<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Comienza a crear tus contenidos para Groween</p>

  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="homeFooter container">
      <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-5">
        <img src="assets/images/logo.png" alt="Groween">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
        <h2>Una opinión, una donación</h2>
        <p>Desde aquí podrás crear templates de cuestionarios y materiales de mejora para la aplicación.</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
