<div class="container">
  <div class="col-lg-4">
    <h2>{{ topicCategory }}</h2>
    <div ng-hide="topicCategory">
      <accordion close-others="oneAtATime">
        <accordion-group heading="{{area.name}}" ng-repeat="area in areas">
          <categories-dir area="{{area}}" allowEdit="false"></categories-dir>
        </accordion-group>
      </accordion>
    </div>

  </div>
  <div class="col-lg-8">
    <template-dir category="selectedCategory"></template-dir>
  </div>

</div>
