
<!-- The questionary doesen't exist -->
<div ng-show="inexistent">
  <div class="subheader">
    <div class="container emptyQuestionary">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h1>El cuestionario al que intentas acceder no existe.</h1>
        <br>
        <h4>Puede que el creador del cuestionario lo haya eliminado o que la dirección a la que intentas acceder sea incorrecta.</h4>
        <br>
        <p>Ponte en contacto con la persona que te envió el cuestionario para saber más.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="../assets/images/not_found.png">
      </div>
    </div>
  </div>
  <div class="container emptyQuestionary">
    <div>

    </div>
  </div>
</div>
<!--  Inactive questionary -->
<div ng-show="questionary && !questionary.active" class="container">
  <div class="subheader">
    <div class="container emptyQuestionary">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h1>El cuestionario al que intentas acceder no está activo.</h1>
        <br>
        <h4>Parece que el creador del cuestionario lo ha desactidavo.</h4>
        <br>
        <p>Ponte en contacto con la persona que te envió el cuestionario para que lo vuelva a activar.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="../assets/images/not_found.png">
      </div>
    </div>
  </div>

</div>
<!--  Questionary Form -->
<div ng-show="questionary && questionary.active">
  <section ng-show="state == 0">
    <div class="home text-center">
      <div class="container">
        <h1> {{ questionary.userName || 'Anónimo'}} quiere conocer tu opinión sobre {{ questionary.name }} </h1>

        <p>Los datos recogidos en este cuestionario se enviarán a {{ name }} de forma anónima.</p>
        <br/>
        <button ng-click="start()" class="btn mar-top10">COMENZAR</button>
      </div>
    </div>
    <div class="homeFooter container">
      <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-5">
        <img src="/assets/images/logo.png">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
        <h2>Una opinión, una donación</h2>
        <p class="small">Al final del cuestionario podrás elegir a qué ONG se destinará la donación que Groween realizará por ti.</p>
      </div>
    </div>
  </section>
  <section ng-show="state == 1">
    <h1>{{ questionary.name }}</h1>
    <div ng-repeat="question in questionary.questions">
      <div id='ID_{{$index + 1}}' class="question">

        <h1>Pregunta {{ $index }} / {{ questionary.questions.length }}</h1>
        <h2>{{ question.name }}</h2>

        <div class="stars">

          <form name="ratingForm{{question.number}}">
            <input class="star star-5" id="star-{{question.number}}-5" type="radio" name="star-{{question.number}}" value="1" ng-click="rated(q.number, 5);" />
            <label class="star star-5" for="star-{{question.number}}-5"></label>

            <input class="star star-4" id="star-{{question.number}}-4" type="radio" name="star-{{question.number}}" value="2" ng-click="rated(q.number, 4);" />
            <label class="star star-4" for="star-{{question.number}}-4"></label>

            <input class="star star-3" id="star-{{question.number}}-3" type="radio" name="star-{{question.number}}" value="3" ng-click="rated(q.number, 3);" />
            <label class="star star-3" for="star-{{question.number}}-3"></label>

            <input class="star star-2" id="star-{{question.number}}-2" type="radio" name="star-{{question.number}}" value="4" ng-click="rated(q.number, 2);" />
            <label class="star star-2" for="star-{{question.number}}-2"></label>

            <input class="star star-1" id="star-{{question.number}}-1" type="radio" name="star-{{question.number}}" value="5" ng-click="rated(q.number, 1);" />
            <label class="star star-1" for="star-{{question.number}}-1"></label>

          </form>

        </div>
      </div>
    </div>
    <div id="ID_send">
      <div class="container">
        <p>SUGERENCIAS</p>
        <h1>Si tienes algún comentario o sugerencia que hacerle a {{ questionary.userName || 'Anónimo'}} puedes hacerlo aquí:</h1>
        <div class="col-lg-12">
          <textarea ng-model="test" ng-trim="false" maxlength="250" class="mar-top20 mar-bot20"></textarea>
          <div class="align-right">
            <span>{{250 - test.length}}</span>
          </div>
        </div>
        <div>
          <a class="btn mar-top10" ng-click="sendRates()" >ENVIAR</a>
        </div>
      </div>
    </div>
    <div class="banner">
      <img src="img/ADSENSE.png">
    </div>

  </section>
  <section ng-show="state == 2">

  </section>

</div>
