.emptyQuestionary div {
  padding: 40px 0px;
}

.emptyQuestionary img {
  max-width: 200px;
}
.subheader .emptyQuestionary h1 {
  color: #09A590;
}

@charset "UTF-8";

@font-face {
  font-family: "thumbs";
  src:url("/assets/fonts/thumbs.eot");
  src:url("/assets/fonts/thumbs.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/thumbs.woff") format("woff"),
  url("/assets/fonts/thumbs.ttf") format("truetype"),
  url("/assets/fonts/thumbs.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "thumbs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "thumbs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb:before {
  content: "m";
}
.icon-thumb-empty:before {
  content: "a";
}

/* ========================================
Layout
========================================= */
/* --- float --- */

.float-left {

  float: left;

}

.float-right {

  float: right;

}

.float-center {

  float: center;

}

/* --- align --- */

.align-left {

  text-align: left;

}

.align-right {

  text-align: right;

}

.align-center {

  text-align: center;

}

.align-items {

  display: flex;

  align-items: center;

}

/* Margin top */

.mar-top0 {

  margin-top: 0;

}

.mar-top5 {

  margin-top: 5px;

}

.mar-top10 {

  margin-top: 10px;

}

.mar-top15 {

  margin-top: 15px;

}

.mar-top20 {

  margin-top: 20px;

}

.mar-top40 {

  margin-top: 40px;

}

.mar-top80 {

  margin-top: 80px;

}

/* Margin bottom */

.mar-bot0 {

  margin-bottom: 0;

}

.mar-bot5 {

  margin-bottom: 5px;

}

.mar-bot10 {

  margin-bottom: 10px;

}

.mar-bot15 {

  margin-bottom: 15px;

}

.mar-bot20 {

  margin-bottom: 20px;

}

.mar-bot40 {

  margin-bottom: 40px;

}

.mar-bot80 {

  margin-bottom: 80px;

}


/* Hidden */

.hidden {

  display: none;

}

/* Inline */

.inline {

  display: inline;

}

/* Block */

.block {

  display: block;

}

/* Inline-block */

.inlineblock {

  display: inline-block;

}

/* Clear */

.clear {

  clear: both;

}


/* ========================================
General Styles
========================================= */

.page body {
  color: #555;
}
.page img {
  max-width: 100%;
}


.page h1 {
  font-size: 1.5em;
}

.page h2 {
  font-size: 1.5em;
}

.page p {
  color: #888;
  font-size: 1.2em;
}

.page p.small {
  font-size: 1em;
}

.page .btn {
  background-color: #09A590;
  border-radius: 2px;
  padding: 10px 15px;
  color: #FFF;
  letter-spacing: 0.1px;
  font-weight: bold;
  font-size: 1.4em;
}

.page .btn:hover {
  color: #FFF;
  background-color: #0A8772;
}

.page .btn:active, .btn:visited, .btn:focus {
  color: #fff;
}

.page .btn a {
  color: #fff;
  text-decoration: none;
}


/* ========================================
Animations
========================================= */



/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave        {
  -webkit-animation:moveToTop 0.5s both ease-in;
  -moz-animation:moveToTop 0.5s both ease-in;
  animation:moveToTop 0.5s both ease-in;
}

.page-home.ng-enter 		{
  -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight 0.5s both ease-in;

}


/* form ------------------------ */
.page-form.ng-leave        {


}

.page-form.ng-enter 		{
  -webkit-animation:slideInUp 0.5s both ease-in;
  -moz-animation:slideInUp 0.5s both ease-in;
  animation:slideInUp 0.5s both ease-in;
}


/* contact ---------------------- */
.page-contact.ng-leave      {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotateOutNewspaper .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: rotateOutNewspaper .5s both ease-in;
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter 		{
  -webkit-animation:slideInUp 0.5s both ease-in;
  -moz-animation:slideInUp 0.5s both ease-in;
  animation:slideInUp 0.5s both ease-in;
}


/* scale up */
@keyframes scaleUp {
  from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform:translateX(100%); }
  to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(100%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(100%); }
  to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from 	{ transform:translateY(100%); }
  to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from 	{ -moz-transform:translateY(100%); }
  to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from 	{ -webkit-transform:translateY(100%); }
  to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to 		{ -webkit-transform: translateX(-100%); }
}

/* Page Transition's animations */

/* move from / to  */

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
  from { }
  to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
  from { }
  to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
  from { }
  to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
  from { }
  to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}


/* ========================================
Pages
========================================= */

/* Home */

.page-home {

}

.home {
  padding: 0% 10%;
  padding-bottom: 40vh;
  padding-top: 10vh;
  background-color: #eee;
}

.homeFooter {
  border-top: 1px solid #ddd;

}

.logo img {
  max-width: 40%;
}

.homeFooter h2 {
  margin-top: 10%;
}

/* Form */
.page-form {
  background-color: #eee;
}
.page-form .ng-scope {
  height: 100vh;
  display: table;
  width: 100%;
}

.question {
  padding-top: 20vh;
}

div#ID_send {
  height: 100vh;
  display: table;
  width: 100%;
}

.form .btn {
  width: 90%;
}

.form #ID_send h1 {
  padding: 0% 10%;
}

.form #ID_send textarea {
  padding: 0%;
}


.form p {
  text-transform: uppercase;
  border-bottom: 3px solid #D8D8D8;
  display: inline-block;
  padding-bottom: 8px;
}

.active {
  border-bottom: 3px solid #BAE6E0;
}

textarea {
  width: 100%;
  min-height: 150px;
  border: 0px solid #fff;
  padding: 5%;
  text-align: center;
  color: #888;
  font-size: 1.3em;
}

#ID_send span.ng-binding {
  color: #A8A8A8;
  margin-right: 5px;
  font-size: 1.2em;
}

.banner {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -2px 2px rgba(50, 50, 50, 0.10);
  -webkit-box-shadow: 0px -2px 2px rgba(50, 50, 50, 0.10);
  -moz-box-shadow: 0px -2px 2px rgba(50, 50, 50, 0.10);
}

.banner img {
  width: 55%;
  margin-bottom: 10px;
  margin-top: 10px;
}

div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 6px;
  font-size: 80px;
  color: #D7D7D7;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: "m";
  color: #09A590;
  transition: all .25s;
}

input.star-1:checked ~ label.star:before {
  color: #CD6655;
}
input.star-2:checked ~ label.star:before {
  color: #E7881C;
}
input.star-3:checked ~ label.star:before {
  color: #54B5A8;
}
input.star-4:checked ~ label.star:before {
  color: #09A590;
}
input.star-5:checked ~ label.star:before {
  color: #0A8772;
  text-shadow: 0 0 20px #54B5A8;
}

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: "a";
  font-family: "thumbs";
}

/* ONG */

.page-ong {
  background-color: #eee;
  height: 100vh;
}

.ong {
  padding: 0% 10%;
}

.page-ong h1 {
  padding-top: 20vh;
  margin: 0;
  padding-bottom: 20px;
}

.page-ong .btn {
  width: 60%;
}

/* last view */

.page-last {
  background-color: #eee;
  height: 100vh;
}

.page-last img {
  width: 50%;
}
.whitebox {
  background-color: #fff;
  padding: 20px 20px;
}

p.boxtitle {
  color: #929292;
  font-weight: bold;
  font-size: 1em;
}

p.number {
  color: #09A590;
  font-weight: bold;
  font-size: 2em;
}

.fa-stack-2x {
  font-size: 2em;
  border: 1px solid #09A590;
  border-radius: 121px;
  line-height: 0.95em;
  height: 1.5em;
  width: 1.5em;
}
.fa-inverse {
  color: #09A590;
  margin-left: -15px;
  font-size: 1.5em;
  margin-top: 10px
}

i.fa.fa-circle.fa-stack-2x {
  color: transparent;
  margin-left: -24px;
}


@media (max-width: 767px) {
  p {
    color: #888;
    font-size: 1.1em;
  }
  /* home */

  .logo img {
    max-width: 100%;
  }
  .banner img {
    width: 85%;
  }
  .page-ong .btn {
    width: 90%;
  }
}
@media (max-width: 480px) {
  p.small {
    font-size: 0.7em;
  }
  /* form */
  #ID_send .col-lg-12, #ID_send .container {
    padding: 0px;
  }
  #ID_send h1 {
    padding: 15px;
  }
  label.star {
    font-size: 45px;
  }
  textarea {
    border: 0px solid #ddd;
  }
  .banner img {
    width: 100%;
  }
  .page-ong .btn {
    width: 100%;
  }
  h1 {
    font-size: 1.3em;
    line-height: 1.2em;
  }
}
@media (max-width: 320px) {
  .btn a {
    font-size: 0.7em;
  }
  .home {
    padding: 0% 4%;
  }
  .home h1 {
    font-size: 1.2em;
  }
  .home p {
    font-size: 1em;
  }
  .btn {
    font-size: 1.1em;
    padding: 12px 15px;
  }
  .ong {
    padding: 0% 6%;
  }
  .banner img {
    width: 90%;
  }
}
