<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">

    <div class="col-sm-12 resetpassword">
      <form class="form" name="form" ng-submit="reset(form)" novalidate>
        <p class="passtitle">Reset your password:</p>
        <div class="form-group">


          <input type="password" name="name" placeholder="new password" class="form-control" ng-model="password"
                 required/>
          <p class="help-block errormessage" ng-show="passwordRequired && submitted">
            A password is required
          </p>
        </div>

        <div class="form-group">


          <input type="password" name="repassword" placeholder="repeat password" class="form-control" ng-model="repassword"
                 required/>
          <p class="help-block errormessage" ng-show="repasswordRequired && submitted">
            You must re enter password
          </p>
          <p class="help-block errormessage" ng-show="repasswordSame && submitted">
            The passwords must be the same
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
