.errormessage {
  font-size: 0.8em;
  color: #E73030;
  font-weight: bold;
}

.resetpassword {
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0;
}

.resetpassword form {
  padding-left: 35%;
  padding-right: 35%;
}

.resetpassword input:focus {
  box-shadow: none;
}

.resetpassword input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 16px;
  text-align: left;
  color: inherit;
  border-radius: 0;
  border-top: none;
  box-shadow: none;
  color: #7c7c7c;
}

.resetpassword form button {
  width: 100%;
}

.resetpassword form p.passtitle {
  text-transform: uppercase;
  color: #555555;
  font-weight: bold;
}

.resetpassword input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #c8c8c8;
  font-weight: 300;
}
.resetpassword input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:     #c8c8c8;
  opacity:  1;
  font-weight: 300;
}
.resetpassword input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:     #c8c8c8;
  opacity:  1;
  font-weight: 300;
}
.resetpassword input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #c8c8c8;
  font-weight: 300;
}

@media (max-width: 767px) {
  .resetpassword form {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media (max-width: 480px) {
  .resetpassword form {
    padding-left: 10%;
    padding-right: 10%;
  }
}
